.hljs {
  background-color: #f9f9f9;
  color: #16191f
}

.hljs b,
.hljs strong {
  color: #16191f
}

.hljs-comment,
.hljs-quote {
  color: #687078;
  font-style: italic
}

.hljs-deletion,
.hljs-doctag,
.hljs-formula,
.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #794938;
}

.hljs-literal {
  color: #0184bb
}

.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #0b6125
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401
}

.hljs-attr,
.hljs-attribute,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #986801
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #4078f2
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

.hljs-link {
  text-decoration: underline
}

.hljs a,
.hljs a span {
  color: #0073bb
}

.hljs code.replaceable,
.hljs code.replaceable span {
  color: #d13212
}

pre.programlisting,
pre.screen {
  background-color: #f9f9f9;
  border: 1px solid var(--color-border-divider-default-k96bks, #eaeded);
  border-radius: 3px;
  overflow: auto;
  position: relative
}

code.hljs {
  display: block;
  font-family: Monaco, Menlo, Consolas, Courier Prime, Courier, Courier New, monospace;
  padding: 16px 50px 16px 16px
}

code.userinput {
  color: #1d8102
}