//############ import font ############
//@import url('https://d1uznvntk80v7s.cloudfront.net/fonts/AmazonEmber_W_Rg.woff2');


//Regular
@font-face {
	font-family: 'Amazon Ember';
	src:url('https://d1uznvntk80v7s.cloudfront.net/fonts/AmazonEmber_W_Rg.woff2') format('woff2');
	font-weight:normal;
	font-style:normal;
}

